<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>@ViewData["Title"] - Ouroboros</title>
</head>
<body>
	@RenderBody()
</body>
</html>