@page
@model NotRegisteredModel

<h1>This user is not registered</h1>

<p>
	This service is available only to manually registered users, and the user "@Model.Login" is not registered.
</p>
<p>
	If you believe you should have access from this Github account, please contact your sysadmin.
</p>
<p>
	Your session has not been saved.
</p>