@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

<h1>Something broke yay</h1>

@if (!string.IsNullOrEmpty(Model.RequestId))
{
	<p>
		<strong>Request ID:</strong>
		<code>@Model.RequestId</code>
		(not that this ID helps us at all)
	</p>
}